.logout{
  float: right;
}
h1{
  color: lightgreen;
  text-align: center;
}
body{
  background-color:black;
}
table{
	width: 100%;
}
table, th, td {
    border: 1px solid black;
		border-collapse: collapse;
		padding: 10px;
}
form{
	margin-top: 20px;
	margin-left: 140px;
	background-color: white;
	margin-right: 120px;
}
table, th{
	padding: 20px;
}
th{
	text-align: left;
	background-color: #eeeeee;
}
.button1{
	background-color:#4CAF50;
	text-align: center;
	color: white;
	width: 130px;
	padding: 15px;
	border: none;
	font-size: 12px;
}
.button2{
	background-color:#f44336;
	text-align: center;
	color: white;
	width: 130px;
	padding: 15px;
	border: none;
	font-size: 12px;
}
