h1{
  color: lightgreen;
  text-align: center;
}
body{
  background-color: black;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin-top: 20px;
}
.ride_request{
  background-color: #eeeeee;
  width: 500px;
  margin: 50px auto;
  padding: 0 50px;
  position: center;
}
.ride_request input{
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border: 0;
  font-size: 15px;
  margin-top: 14px;
  margin-bottom: 25px;

}
.seats{
  text-align: center;
  padding: 10px;

}
button{
  background-color:green;
  text-align: center;
  color: white;
  width: 500px;
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  font-size: 12px
}
