body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  margin-top: 20px;
}
h1{
  color: lightgreen;
  text-align: center;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.img{
  width: 300px;
}
.nav2 {
  background-color: #eeeeee;
  padding: 14px;
  width: 260px;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  height: 150px;
  margin-bottom: 500px;
}
#user{
  float: left;
  color: red;
  margin-left: 70px;
}
.nav2 .link{
  font-size: 30px;
  text-decoration: none;
}
form{
	margin-left: 440px;
	background-color: white;
	margin-right: 120px;
  margin-top: -100px;
}
table, th{
	padding: 20px;
}
th{
	text-align: left;
	background-color: #eeeeee;
}
table{
	width: 100%;
}
table, th, td {
    border: 1px solid black;
		border-collapse: collapse;
		padding: 10px;
}
#form{
  margin-bottom:900px;
}
.img2{
  float: right;
  width: 200px;
  margin-right: 120px;
  margin-top: 50px;
}
